<section class="row"  data-ng-controller="AuthenticationController">
	<md-card style="left:45%; width: auto; position: absolute">
		<form data-ng-submit="signin()" autocomplete="off" layout="column" layout-align="center center">
			<fieldset>
				<div >
					<md-input-container>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</md-input-container>
				</div>
				<div>
					<md-input-container>
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</md-input-container>
				</div>
				<div style="position: relative">
					<md-button class="md-raised md-warn" type="submit">Sign in</md-button>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</fieldset>
		</form>
	</md-card>
</section>
