<section class="container" ng-controller="NetworksController">

    <md-card id="browseCard">
        <div class="browse">
        <md-progress-linear class="md-warn" md-mode="determinate" value="{{pageData.loadingProgress}}"></md-progress-linear>
        <md-tabs class="graphProperties" md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab ng-repeat="attr in searchData.attrArr" label="{{attr.attrCat}}">

            <div ng-show="pageData.loadingNetworks">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>


            <div layout="row" class="attributeContainer" layout-wrap>
                <div ng-repeat="a in attr.attrs">
                   <div class="attributeButton" flex="none">
                       <md-checkbox ng-disabled="pageData.loadingNetworks" ng-change="doSearch()" ng-model="a.state" >{{a.value}}</md-checkbox>
                   </div>
                </div>

            </div>
            </md-tab>
            <!--       Size Tab       -->
            <md-tab label="Size">
                <div id="size_tab">
                    <label class="graphLabels">Node and Edge Count Distribution</label>
                    <canvas id="line"
                            class="chart chart-line"
                            chart-data="graphData.sizeDistMenu.data"
                            chart-labels="graphData.sizeDistMenu.labels"
                            chart-options="options"
                            width="380px"
                            height="60px">
                    </canvas>
                    <label layout="row" layout-align="center start" class="graphLabels">Nodes in Gray Edges in Blue</label>
                    <div layout="row" layout-align="space-around start">
                    <md-input-container ng-repeat="s in searchData.sizeInfo">
                        <label>{{s.attrCat}}</label>
                        <md-select ng-disabled="pageData.loadingNetworks" ng-change="doSearch()" ng-model="s.attrs.state">
                            <md-option ng-repeat="label in s.attrs.labels" value="{{label}}">
                                {{label}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    </div>
                </div>
            </md-tab>

            <md-tab data-ng-if="authentication.user" label="FileType">
                <div id="fileType_tab">
                    <div ng-repeat="t in pageData.fileTypes">
                        <div class="attributeButton" flex="none">
                            <md-checkbox ng-disabled="pageData.loadingNetworks" ng-change="filterFileTypes()" ng-model="t.active" >{{t.fileType}}</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>

        </md-tabs>
        <md-divider></md-divider>

        <div id="searchBox" layout="row">

            <md-input-container flex="grow">
                <label>(This) OR (That)</label>
                <input ng-keyup="$event.keyCode == 13 && doSearch()"  ng-disabled="pageData.loadingNetworks" ng-model="searchData.searchField">
            </md-input-container>

            <md-button id="searchButton" ng-click="doSearch()" aria-label="Search">
                <md-icon md-font-icon="material-icons"> search </md-icon>
            </md-button>

            <md-icon md-font-icon="material-icons" ng-click="showSearchInfo($event)" style="maring-right:8px;"> info </md-icon>

        </div>
        </div>

        <md-divider style="margin-top:25px" ng-show="pageData.showMore"></md-divider>

        <div ng-show="pageData.showMore" style="margin-right: 14px; margin-left: 14px; margin-top:14px;" layout="column" >
            <div layout="row" layout-align="start start" flex>
                <label style="margin-right: 10px" class="networkCount">Entries found: {{pageData.numNetworks}}</label>
                <label class="networkCount">Networks found: {{pageData.numEntries}}</label>
            </div>

            <label class="graphLabels">Domain Counts</label>

            <canvas id="bar"
            class="chart chart-bar"
            chart-data="graphData.domains.data"
            chart-labels="graphData.domains.labels"
            chart-options="options"
            width="380px"
            height="80px">
            </canvas>

            <label class="graphLabels">Property Counts</label>
            <canvas id="barProps"
                class="chart chart-bar"
                chart-data="graphData.properties.data"
                chart-labels="graphData.properties.labels"
                chart-options="options"
                width="380px"
                height="80px">
            </canvas>

            <label class="graphLabels">Node and Edge Count Distribution</label>
            <canvas id="lineInfo"
                    class="chart chart-line"
                    chart-data="graphData.sizeDistSearch.data"
                    chart-labels="graphData.sizeDistSearch.labels"
                    chart-options="options"
                    width="380px"
                    height="60px">
            </canvas>
        </div>
        <md-button ng-click="pageData.showMore = !pageData.showMore" id="showMore" class="md-fab md-mini md-warn" style="left:45%;bottom: -25px" aria-label="Comment">
            <md-icon md-font-icon="material-icons">{{ (pageData.showMore) ? 'expand_less' : 'expand_more'}}</md-icon>
        </md-button>
    </md-card>

    <md-button id="addNetwork" data-ng-hide="!authentication.user" class="md-fab md-warn" aria-label="Comment" ng-click="addNewNetworkTemplate()">
         <md-icon md-font-icon="material-icons"> add </md-icon>
    </md-button>

    <md-card id="filterOptions">
        <div layout="row" layout-align="space-between center">
            <div >
                <md-input-container id="orderBy" ng-disabled="pageData.loadingNetworks">
                    <label>Order By</label>
                    <md-select ng-model="filterData.selection" >
                        <md-option ng-repeat="label in searchData.attrArr" value="_source.{{label.attrCat}}">
                            {{label.attrCat | uppercase}}
                        </md-option>
                        <md-option value="_source.maxNodes">
                           NODESIZE
                        </md-option>
                        <md-option value="_source.title">
                           NAME
                        </md-option>
                        <md-option value="_source.maxEdges">
                           EDGESIZE
                        </md-option>
                        <md-option value="_source.updateDate">
                            Date Modified
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-checkbox ng-disabled="pageData.loadingNetworks || filterData.selection == ''" ng-model="filterData.reverse" >Reverse Order</md-checkbox>
            </div>

            <div>
                <md-button ng-click="resetFilter()">
                    Reset Filters
                </md-button>
            </div>
        </div>
    </md-card>

    <div class="dataList">
    <md-list>
        <div ng-repeat="network in pageData.networks | orderBy:filterData.selection:filterData.reverse">
            <div ng-switch on="network.state">
                <div ng-switch-when="list">
                    <network-list-item authentication="authentication" network="network"></network-list-item>
                </div>
                <div ng-switch-when="open">
                    <network-card authentication="authentication" network="network"></network-card>
                </div>
                <div ng-switch-when="edit">
                    <edit-card  network="network" networks="pageData.networks"></edit-card>
                </div>
                <div ng-switch-when="disabled">
                    <!-- Render nothing (hack for file type filtering) -->
                </div>
            </div>
        </div>
    </md-list>
    </div>



</section>

